.el-message-box {border:none}
.el-message-box__header {background: #0070E0;}
.el-message-box__title{
    color: #ffffff;
}
.el-button {
    color: black;
    background: #EEEEEE;
    border-color: #cccccc;
    width: 100px;
}
.el-button:focus, .el-button:hover{
    color: black;
    background: #EEEEEE;
    border-color: #cccccc;
}

.el-popper[x-placement^=bottom] .popper__arrow{
    overflow: hidden;
}
.el-message-box__content {
    position: relative;
    padding: 27px 36px;
    color: #606266;
    font-size: 14px;
    height: 49px;
}
.el-button--primary{
    background: #0070E0;
    color: #ffffff;
}
.el-input__inner{
    background: #F8F8F8;
    border: 1px solid #CCCCCC;
    width: 412px;
    height:54px;
}
.el-form-item__label{
font-size:24px;
color:#333;
line-height: 46px;
}