body{
    padding: 0;
    margin: 0;
}
body,html,#app,.home{
    height: 100%;
    width: 100%;
}
.flex,
.flex-start,
.flex-end,
.flex-start-end,
.flex-sa {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}
.flex-item-2 > div {
  width: 50%;
}
.flex-item-3 > div {
  width: 33.3%;
}
.flex-item-4 > div {
  width: 25%;
}
.flex-item-5 > div {
  width: 20%;
}
.flex-start {
  justify-content: flex-start;
}
.flex-end {
  justify-content: flex-end;
}
.flex-center{
  justify-content:center;
}
.flex-start-end {
  justify-content: space-between;

}
.flex-sa {
  justify-content: space-around;
}
/*垂直方向flex-start-end*/
.flex-start-end-colums {
  flex-direction: column;
  justify-content: space-between;
}
/*子级*/
.flex-item {
  flex-grow: 1;
}