$colorFFF:#ffffff;
$fs32:32px;
$fs24:24px;
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
ul, ol { list-style:none; }
textarea { resize:none; }/*防止拖动*/
img {border:0; vertical-align:middle; }  /*  去掉图片低测默认的3像素空白缝隙，或者用display：block也可以*/
table { border-collapse:collapse; }
#app{
    height:100%;
}
a {color:inherit;text-decoration:none;}
.clearfix:before,.clearfix:after {  /*清除浮动*/
    content:"";
    display:table;
}
h1{
    font-size: 28px;
}

fieldset, img,button { border:none; padding:0;margin:0;outline-style:none; }   /*去掉input等聚焦时的蓝色边框*/
html,body{
    background:url(../img/home/background.png) no-repeat;
    background-size:cover;
    height: 100%;
  }
.layoutCon{
    height: 100%;
@media screen and(max-width:1200px){
    background: url(../img/home/background@2x.png) no-repeat;
        background-size:cover;
        height: 68.5%;
        }
     
}
.layoutscroll{
    @media screen and (min-width: 1220px){
        display: none;
    }
     @media screen and(max-width: 1200px){
        height: 31.5%;
           img{
               width:100%;
               height:100%;
           }
    }
   
   }
.home{
    background: url(../img/views/home-bg.png)no-repeat;
    background-size: 100% 100%;
    position: relative;
}
.home-footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    padding: 0 54px 29px 50px;
    .flex-center{
        display: inline-flex;
        line-height: 36px;     
    }
    img{
        width: 36px;
        height: 36px;
        display: block;
       margin-right: 10px; 
    }
    div{
        font-size:$fs24;
        color:$colorFFF;
        line-height:30px;
    }
    >div:first-child{
        text-align: left;
    }
    >div:nth-of-type(2){
        text-align: center;
    }
    >div:last-child{
        text-align: right;
    }
}
.home-content-wrap{
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    top: 0;
    left: 0;
    padding-top: 100px;
    padding-bottom: 100px;
    position: fixed;
}
.home-header{
    padding: 28px 37px 0; 
    div{
        color: $colorFFF;
        line-height: 48px;
        font-size: $fs32;
    }
    >div:nth-of-type(2){
        font-size: $fs24;
    }
    img{
        width: 48px;
        height:48px;
        margin-right: 17px;
    }
    .home-header-r-wrap{
        text-align: right;
    }
    .home-header-r{
        img{
            width: 30px;
            height: 30px;
            position: relative;
            top: 6px;
            margin-right: 5px;
        }
        width:168px;
        height:68px;
        line-height: 68px;
        margin-left: 17px;
        float: right;     
        text-align: center; 
        font-size: $fs24;
        background:rgba(0,0,0,1);
        opacity:0.4;
        border-radius:34px;
    }
}
// 按钮样式
.buttonStyle{
    cursor: Pointer;
    outline:none;
    border: none;
    font-size:28px;
    color: #FFFFFF;
    align-self: center;
    margin-right: 2px;
    width: 154px;
    height: 56px;
    background: rgba(0, 140, 255, 1);
    border-radius: 28px;
    color: #ffffff;
}
button{
    font-size: 24px;
    cursor: pointer;
}
/* 设置滚动条的样式 */
::-webkit-scrollbar {
    width: 26px;
    height: 26px;
}

::-webkit-scrollbar-button {
    display: none
}

::-webkit-scrollbar-track {
    border-radius: 2px;
    // background-color: #eee;
}

::-webkit-scrollbar-thumb {
    
  border-radius: 2px;
  background-color: #ccc;
//   background-image: -webkit-linear-gradient(top, #eee, #ccc); 
  &:hover {
    background-color: #d6dad7;
  }
}



// 输入框
.el-input__inner{
    font-size:25px ;

    @media screen and(max-width:1200px){
    //height:3vh;
    //width:40vw !important;
    font-size:40px;
    }
}

//日期字体
.el-input__icon .el-icon-date{
    @media screen and(max-width:1200px){
       font-size:50px; 
    }
}

.el-icon-date:before{
    @media screen and(max-width:1200px){

        content:""\E608"";
        font-size:2vh;
        position: relative;
        top:0.9vh;
    }
}
.el-input--prefix .el-input__inner{
    @media screen and(max-width:1200px){
       padding-left:4vw;
    }
}

.el-form-item__label{
    display:flex !important;
    align-items: center !important;
    @media screen and (max-width:1200px){
        font-size:3vw;
        display:block;
    }
}

.el-form-item__content{
    margin-left:0 !important;
}

@media screen and(max-width:1200px){
    h1{
        font-size:3vw !important;
    }
}
.el-select-dropdown__item{
        font-size:30px;
        height:3vw;
        line-height:3vw;
    @media screen and(max-width:1200px){
        font-size:45px;
        height:5vw;
        line-height:5vw;
    }
}
.demo-input-suffix{
    @media screen and (max-width: 1200px){
         
    span{
        font-size:3vw;
    }}
}
@media screen and (max-width: 1200px){
    //input
    input{
        height:3vh !important;
        font-size:2.5vw;
    }
    //下拉框
    .hospital-search-wrap div{
        font-size:2.5vw !important;
    }
    .el-select .el-input .el-select__caret{
        display: flex;
        align-items: center;
        font-size:2.5vw;
        width:3vw;
    }
    .el-select-dropdown__wrap{
        max-height: none;
    }
    // .el-icon-arrow-up:before{
    //     right: 20px;
    //     position: relative;
    // }
    //日期选择器
    .el-date-picker .el-picker-panel__content{
        width: 40vw !important;
        height:30vw !important;
        }
        .el-date-picker__header-label{
        font-size:2vw !important;
        line-height:3vw !important;
        }
        .el-picker-panel__icon-btn{
        font-size:2vw !important;
        }
        .el-picker-panel{
        width:41vw !important;
        line-height:2.5vw;
        }
        
        .el-date-picker table{
        height:17vw !important;
        }
        .el-date-table{
        font-size:2vw !important;
        }
        
        .el-date-table td, .el-date-table td div{
        font-size:2vw !important;
        height:2vw;
        }
        .el-date-table td, .el-date-table tr{
            height:4vw;
        }
        .el-picker-panel__icon-btn{
            margin:0 20px;
        }
        .el-date-table tbody tr:nth-of-type(1){
           height:5vw !important;
        }
        .el-form-item{
          display:flex;
        }

}
//-----------------
@media screen and (max-width: 1200px){
    .crime-t-title{
        font-size:3vw !important;
    }
}