@media screen and (max-width:1200px){
  
    //home
    .home{
    background: url(../img/home/background@2x.png) no-repeat;
    background-size: 100% 100%;
    // background-position: 100% 70%;
}
.txt{height: 850px !important;}

    .scroll{
         height:31.5%;
        img{
            width:100%;
            height:100%;
        }
    }
    header{
        height:4%;
    }
    main{
        height:62%;
    }
    footer{
        height:2.5%;
    }
     //ehead
    .header{
        .nav{
            font-size:22px;
            li{
                padding:0 45px;
                font-size: 2vw;
                
            }
        }
    }
    //homecontent
    .homecontent{
        justify-content:center;
    }
    .main-right{
        display:none;
    }
    .main-left{
        width:87%;
        .col_welcome{
            
            font-size:2vw;
            color:#fff;
            text-align: left;
        }
        .col_search{
            display:flex;
            margin-top:1vh;
             .search{
                width:50%;
                position: relative;
                height:3.6vh;
                    input{
                        width:96%;
                        height:100%;
                        background:rgba(255,255,255,1);
                        border-radius:9px;
                        outline:none;
                        border:0;
                        font-size:30px;
                        color:rgba(0,112,224,1);
                        padding-left:20px;
                        margin-left: -4%;
                     }
                    }
                    img{
                        width:50px;
                        height:50px;
                        position:absolute;
                        right:40px;
                        top:50%;
                        margin-top:-25px;
                    }
            .hot{
                width:50%;
                height:100%;
                font-size:30px;
                line-height:1.82vh;
                color:rgba(255,255,255,1);
                display:flex;
                flex-wrap: wrap;
                line-height: 3vw;
                span{
                    margin-left:36px;
                    border-bottom: 1px solid #fff;
                    display:inline-block;
                }
            }
        }
        >ul{
            margin-top:0.8vh;
            height:36vh;
            li{
                height:11.5vh;
                .business-top{
                    .business-type{
                        font-size:50px; 
                    }
                    .business-more{
                        font-size:40px;
                    }
                }
                .business-bottom{
                    padding:0.2vh 0;
                    div{
                        width:50%;
                        height:50%;
                        box-sizing:border-box;
                        text-align:center;
                        padding:0 0;
                        font-size:38px;
                        cursor: pointer;
                        img{
                            width:65px;
                            
                        }
                        p{
                            margin-top:0.4vh;
                        }
                    }
                }
            }
        }
        .col_bs{
            width:100%;
            height:7.3vh;
            margin-top:1vh;
            display:flex;
            .col_bs-left{
                width:15%;
                height:100%;
                background:rgba(75,184,243,1);
                background-repeat: no-repeat;
                position:relative;
                background-size:62px 66px;
                color:#fff;
                display:flex;
                justify-content: center;
                align-items:center;
                font-size:50px;
                
               
            }
            .col_bs-right{
                width:74%;
                height:100%;
                background:#fff;
                ul{
                    display:flex;
                    justify-content:flex-start;
                    align-items:center;
                    height:100%;
                    li{
                        width:25%;
                        height:90%;
                        text-align:center;
                        box-sizing: border-box;
                        display:flex;
                        flex-direction: column;
                        border-right:1px solid #ccc;
                        div{
                            height:70%;
                            
                            display:flex;
                            align-items: flex-end;
                            justify-content: center;
                        }
                        &:nth-child(4n){
                                border-right:none;
                        }
                        img{
                            width:80px;
                             
                        }
                        p{  
                            padding-top:1vh;
                            height:50%;
                            font-size:30px;
                            color:rgba(75,184,243,1);
                        }
                    }
                }

            }
            .col_bs-more{
                background:rgba(75,184,243,1);
                flex-grow: 1;
                display: flex;
                justify-content: center;
                align-items: center;
                p{
                    font-size:40px;
                    color:#fff;
                }
            }
        }
        .bs1{
            .col_bs-left{
                background-image:url("~@/img/home/house.png");
            
            }
        }
        .bs2{
            .col_bs-left{
                background-image:url("~@/img/home/bs3.png"); 
            
            }
        }
        
      
    }
    
   }


   

@media screen and (min-width:1200px){
     //listCommon
     .home{
        background: url(../img/home/background@2x.png) no-repeat;
        background-size: 100% 100%;
        // background-position: 100% 70%;
    }
     .rightcontent{
        .list1{
            li{
                width:333px;
                height:17.3vh;
                margin:1.6vh 17px;
            }
        }
    }

   
    //home
    .scroll{display:none;
  }

    header{
        height:9%;
    }
    main{
        height:83%;
    }
    footer{
        height:8%;
    }
    //ehead
    .header{
        .nav{
            font-size:33px;
            li{
                padding:0 57px;
            }
           
        }
    }
    //homecontent
    .homecontent{
       
        justify-content:flex-end;
    }
    .main-left{
        width:45%;
        
        ul{
            
            height:77vh;
            li{
                height:24.5vh;
                .business-top{
                    .business-type{
                        font-size:35px; 
                    }
                    .business-more{
                        font-size:21px;
                    }
                }
                .business-bottom{
                    padding:1.5vh 0;
                    div{
                        width:50%;
                        height:50%;
                        box-sizing:border-box;
                        text-align:center;
                        padding:3px 0;
                        font-size: 24px;
                        cursor: pointer;
                        img{
                            width:50px;
                            height:50px;
                        }
                    }
                }
            }
        }
       
    }
    .col_welcome{
        display:none;
    }
    .col_search{
        display:none;
    }
    .col_bs{
        display:none;
    }
    
  
   }