.el-form-item__label{
    float:none;
 }
 
 .el-form-item{
         display:flex;
         flex-wrap:nowrap;
 }
 .el-form-item__label{
     justify-content: flex-end;
     width:35%;
 }   
 .addPersonnel{
     padding:5px 10px;
     border-radius:20px;
     background: #008cff;
     color: #fff;
 } 
 .el-form-item__error{
     font-size:1vw;
     @media screen and (max-width:1200px){
         font-size:3vw;
         
     }
 
 }
 .setp2{
      @media screen and (min-width:1200px){
         h1{
                     font-size:38px;
                     text-align: left;
                     margin:1vh 0 2vh 1vh;
                 }
             .el-form-item__label{
                 display:block;
                 width:22% !important;
                 }
             #area1{
                 .el-form-item__label{
                     width:8vw !important;
                     text-align:right;
                     
                 }
                 .el-form-item__content{
                     margin-left:0 !important;
                 }
                 .el-input__inner{
                     width:10.8vw;
                 }
 
             }
             #area2{
                 .el-input__inner{
                     width:10vw;
                 }
 
             }
             #area3{
                 .el-form-item__content{
                     margin-left:0 !important;
                 }
                 .el-el-form-item__label{
                     width:25vw !important;
                 }
 
             }
             
         .step2_1{
                     display:flex;
                     
                 }
 
      }
     
      @media screen and (max-width:1200px){
         .addPersonnel{
            font-size:3vw;
         }
         h1{
              font-size:3vw;
              text-align: left;
              margin:1vh 0 2vh 1vh;
          }
          .el-form-item__content{
                 margin-left:0 !important;
             }
         .el-form-item__label{
             width:17vw !important;
         }
         .el-input__inner{
             width:25vw !important;
         }
         #area1{
             .el-form-item__content{
                 margin-left:0;
             }
             .el-input__inner{
                width:12vw !important;
             }
 
         }
         #area2{
 
             .el-input__inner{
                width:12vw !important;
             }
 
         }
         .step2_1{
             display:flex;
             
         }
         
     }
     
 
 }